[Unit]
Description=RF Front End Daemon, Federal VHF/UHF Subsystem
After=multi-user.target

[Service]
Type=simple
User=root
Group=vtgs-admin
WorkingDirectory=/vtgs/services/rffed/tcp_v1/
ExecStart=/usr/bin/python /vtgs/services/rffed/tcp_v1/rffe_daemon.py

[Install]
WantedBy=multi-user.target
