[Unit]
Description=RF Front End Daemon, Federal VHF/UHF Subsystem
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/bin/dummy_service.py
User=root
Group=vtgs-admin

[Install]
WantedBy=multi-user.target
